body {
    background-color: #b76e79;
    font-family: "Raleway", sans-serif;
    text-align: center;
    max-height: 600px;
}

.container {
    width: 100%;
}

p {
    margin-top: 30px;
    color: white;
    font-size: 10vw;
}

#clock {
    width: 100%;
    text-align: center;
}

#progressBar {
    border-radius: 50%;
}

#progressBarContainer {
    transform: rotate(180deg);
    border-radius: 50%;
}


.buttonSection {
    width: 100%;
    padding-top: 3rem;
}

.roundButton {
    border-radius: 50%;
    background-color: white;
    color: #3F0202;
    border: 0;
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
}

.button1 {
    float: left;
    width: 49%;
}

.button2 {
    float: right;
    width: 49%;
}

.selector {
    background-color: white;
    color: #3F0202;
    padding: .8rem 1.4rem .9rem .8rem;
    width: 30%;
    border-radius: .5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1rem;
    text-align: center;
}